html, body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  align-items: stretch;
}

.left, .right {
  width: 50%; 
}

.left {
  background-color: #d55413; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em; 
}

.right {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinhar assistentes no centro */
  padding: 20px;
  overflow-y: auto;
}

.assistant-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ajuste para ocupar a largura total */
  cursor: pointer;
  margin-top: 20px; /* Espaço entre os assistentes */
}

.assistant-icon {
  width: 80px; /* Tamanho fixo para o ícone */
  height: auto; /* Altura automática baseada na largura */
}
.assistant-icon2 {
  width: 150px; /* Tamanho fixo para o ícone */
  height: auto; /* Altura automática baseada na largura */
}


.chat-bubble {
  position: absolute;
  top: 100%; /* Posicionado logo abaixo do ícone */
  left: 50%; /* Centralizar o balão horizontalmente em relação ao ícone */
  transform: translate(-50%, 20px); /* Ajuste para centralizar e mover abaixo do ícone */
  min-width: 300px; /* Largura mínima para o balão */
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: 'Comic Sans MS', 'Comic Neue', cursive;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  z-index: 100;
  overflow-y: scroll;
  max-height: 400px;
}

.chat-bubble:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  transform: translateX(-50%) translateY(-100%); /* Ajustar para que a seta apareça no topo do balão */
}
